.inner-block-slider {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.dot {
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 5px;
  outline: none;
  width: 12px;
}

.dot:hover,
.dot.current {
  background-color: #717171;
}

.add {
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  outline: none;
  width: 30px;
}

.add:hover {
  background-color: #45a049;
}

.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
}

.controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s;
}

.controls .prev-container,
.controls .next-container {
  display: flex;
}

.controls .prev-container:hover button,
.controls .next-container:hover button {
  transform: scale(1.2);
}

.prev-container button,
.next-container button {
  color: #333;
}

.prev-container.disable button,
.next-container.disable button {
  color: #ccc;
  cursor: not-allowed;
}

.prev-container.disable:hover button,
.next-container.disable:hover button {
  transform: none;
}
